<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <label for="">username</label>
        <input type="text" name="user" >
        <label for="">password</label>
        <input type="password" name="pword" >
        <input type="submit" value="enter">
    </form>
    <script>
        document.querySelector('form').onsubmit = async(e)=>{
            e.preventDefault()
            const email = e.target.user.value
            const password = e.target.pword.value
            const res = await fetch('/auth/signup',{
                method:'POST',
                headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                body:JSON.stringify({email,password})
            })
            const data = await res.json()
            console.log(data);
        }
    </script>
</body>
</html>